.spinner {
    width: 88px;
    height: 88px;
    border: 17.6px #0167ff double;
    border-left-style: solid;
    border-radius: 50%;
    animation: spinner-aib1d7 0.44999999999999996s infinite linear;
 }
 
 @keyframes spinner-aib1d7 {
    to {
       transform: rotate(360deg);
    }
 }
 